<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-lg-top ps-xl-5 pe-xl-5">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active" >
                <img src="../../../assets/imgs/logo.png" alt="" class="transparent" width="100%" height="40vh">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="float-xxl-end">
            <div class="collapse navbar-collapse d-lg-inline-flex me-3" id="navbarScroll">
                <ul class="my-2 navbar-nav me-auto my-lg-0 text-primary">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <ng-container *ngIf="!currentUser?.success">

                        <li class="nav-item">
                          <a class="nav-link text-uppercase" routerLink="/register" routerLinkActive="active">Register</a>
                        </li>

                    <li class="nav-item">
                      <a class="nav-link text-uppercase" routerLink="/login" routerLinkActive="active" >Login</a>
                    </li>
                    </ng-container>
                    <ng-container *ngIf="currentUser?.success"><!---->
                      <li class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/dice" routerLinkActive="active" >dice</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="logout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ loggedInUser.firstName == null ? '' : loggedInUser.firstName }} {{ loggedInUser.lastName == null ? '' :loggedInUser.lastName  }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="logout">
                          <li><a class="dropdown-item nav-link text-uppercase" (click)= "logout()" style="cursor: pointer;">Logout</a></li>
                        </ul>
                      </li>
                      <!-- <li><a class="nav-link text-uppercase" (click)= "logout()" style="cursor: pointer;">Logout</a></li> -->
                    </ng-container>
                </ul>

            </div>
        </div>
    </nav>
</header>
