<section id="home">
    <app-hero></app-hero>
    <div class="container" >
      <div class="row">
           <!-- Button trigger modal -->
           <ng-container *ngIf="currentUser?.success">
            <div class="col-sm-2 offset-10 mt-4">
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="bi bi-chat-dots-fill"></i>
            </button>
          </div>


           </ng-container>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" >Chat Box</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <app-chat></app-chat>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

</section>
