<section id="register" class="bg-gray">
   <div class="container ">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="p-5 my-5 shadow-md card bg-red rounded-5">
                    <form class="p-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                      <div class="mb-3">
                        <label for="username" class="form-label text-light">Username</label>
                        <input type="email" class="form-control" id="usename" formControlName="username">
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label text-light">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                      </div>
                      <div class="mb-3">
                        <label for="confirmPassword" class="form-label text-light">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                      </div>

                      <button type="submit" class="btn btn-outline-light">Register</button>
                    </form>
                </div>
            </div>
        </div>
   </div>
</section>
