<section id="register" class="bg-gray">
   <div class="container ">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card my-5 p-5 bg-red shadow-md rounded-5">
                    <form class="p-3">
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label text-light">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label text-light">Password</label>
                        <input type="password" class="form-control" id="password">
                      </div>
                      <div class="mb-3">
                        <label for="confirmPassword" class="form-label text-light">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword">
                      </div>
        
                      <button type="submit" class="btn btn-outline-light">Register</button>
                    </form>
                </div>
            </div>
        </div>
   </div>
</section>