<!-- Footer -->
<footer class="page-footer fs-6 pt-3">

    <!-- Divider-Footer-->
    <div class="footer-divider"></div>

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
        <div class="col-md-12">

            <div class="mb-2 d-flex flex-lg-row justify-content-lg-start ms-5">

                <!-- Facebook -->
                <a class="fb-ic"><i class="bi bi-facebook bi-lg me-3"></i></a>
                <!-- Twitter -->
                <a class="tw-ic"><i class="bi bi-twitter bi-lg  me-3"></i></a>
                <!-- Google +-->
                <a class="gplus-ic"><i class="bi bi-google bi-lg me-3"></i></a>
                <!--Linkedin -->
                <a class="li-ic"><i class="bi bi-linkedin bi-lg me-3"></i></a>
                <!--Instagram-->
                <a class="ins-ic"><i class="bi bi-instagram bi-lg me-3"></i></a>
                <!--telegram-->
                <a class="tel-ic"><i class="bi bi-telegram bi-lg me-3"></i></a>

            </div>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row-->

    <!-- Footer Links -->
    <div class="container">

        <!-- Flex row-->
        <div class="d-flex flex-xl-row flex-xxl-row justify-content-xxl-end justify-content-xxl-end justify-content-md-center gap-3 pt-3 mb-3">
            <div class="mb-3">
                <a class="text-uppercase font-weight-bold text-decoration-none" routerLink="/home" routerLinkActive="active">Home</a>
        </div>

        <div class="mb-3">
            <a class="text-uppercase font-weight-bold text-decoration-none" routerLink="/aboutUs" routerLinkActive="active">About us</a>
        </div>
        <div class="mb-3">
            <a  class="text-uppercase font-weight-bold text-decoration-none" routerLink="/register" routerLinkActive="active">Registration</a>
        </div>

        </div>
    </div>
    
    <!-- <div class="footer-divider"></div> -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <span>&copy; 2021</span>
        <a routerLink="/home"> 
            <img src="../../../assets/imgs/logo.png" alt="" class="transparent mx-1" height="20vh">
        </a>
        <span>Copyright</span>
    </div>

</footer>
<!-- Footer -->